<div class="content-container">
  <h1 class="cool-title">Welcome to Your Media Library</h1>

  <!-- Total Counts Section -->
  <div class="game-grid">
    <div class="game-card">
      <div class="card-front">
        <div class="game-info">
          <p class="game-title">Total Books</p>
          <p class="game-platform">{{ totalBooks }}</p>
        </div>
      </div>
    </div>

    <div class="game-card">
      <div class="card-front">
        <div class="game-info">
          <p class="game-title">Total Movies</p>
          <p class="game-platform">{{ totalMovies }}</p>
        </div>
      </div>
    </div>

    <div class="game-card">
      <div class="card-front">
        <div class="game-info">
          <p class="game-title">Total TV Shows</p>
          <p class="game-platform">{{ totalTvShows }}</p>
        </div>
      </div>
    </div>

    <div class="game-card">
      <div class="card-front">
        <div class="game-info">
          <p class="game-title">Total Video Games</p>
          <p class="game-platform">{{ totalVideoGames }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="stats-section">
    <h2>Statistics for {{ currentYear }}</h2>
    <p *ngIf="completedVideoGamesCount !== null">
      Completed Video Games: {{ completedVideoGamesCount }}
    </p>
    <p *ngIf="completedVideoGamesCount === null">Loading...</p>
  </div>

</div>
