<div class="content-container">
  <h2 class="cool-title">Add New Book</h2>

  <form (ngSubmit)="onSubmit()" #itemForm="ngForm" class="add-game-form">
    <div class="form-group">
      <label for="title">Title:</label>
      <input
        type="text"
        id="title"
        name="title"
        [(ngModel)]="item.title"
        required
        class="form-input"
        placeholder="Enter book title"
      />
    </div>

    <div class="form-group">
      <label for="completedDate">Completed Date:</label>
      <input
        type="date"
        id="completedDate"
        [(ngModel)]="item.completedDate"
        name="completedDate"
        required
        class="form-input"
      />
    </div>

    <div class="form-group form-checkbox">
      <label>
        <input
          type="checkbox"
          [(ngModel)]="includeImage"
          name="includeImage"
        /> Include an image?
      </label>
    </div>

    <div *ngIf="includeImage" class="image-section">
      <button type="button" (click)="searchForImage()" class="search-image-btn">
        Search for Image on Wikipedia
      </button>

      <div *ngIf="!foundImageUrl" class="form-group">
        <label for="customImageUrl">
          We couldn't find an image on Wikipedia. Enter a custom image URL:
        </label>
        <input
          type="text"
          id="customImageUrl"
          name="customImageUrl"
          [(ngModel)]="item.imageUrl"
          class="form-input"
          placeholder="Enter image URL"
        />
      </div>
    </div>

    <div *ngIf="item.imageUrl != ''" class="image-preview">
      <p>Image Preview:</p>
      <img
        [src]="item.imageUrl"
        alt="Book Image Preview"
        class="preview-img"
      />
    </div>

    <div class="button-container">
      <button type="submit" [disabled]="!itemForm.form.valid" class="submit-btn">
        Submit
      </button>
      <button type="button" (click)="onCancel()" class="cancel-btn">
        Cancel
      </button>
    </div>
  </form>
</div>
