<div class="content-container">
  <h2 class="cool-title">Add New Backlog Item</h2>

  <form (ngSubmit)="onSubmit()" #itemForm="ngForm" class="add-game-form">
    <div class="form-group">
      <label for="title">Title:</label>
      <input
        type="text"
        id="title"
        name="title"
        [(ngModel)]="item.title"
        required
        class="form-input"
        placeholder="Enter book title"
      />
    </div>

    <!-- Dropdown for selecting type -->
    <div class="form-group">
      <label for="type">Type:</label>
      <select
        id="type"
        name="type"
        [(ngModel)]="item.type"
        required
        class="form-input"
      >
        <option value="" disabled selected>Select a type</option>
        <option value="video-game">Video Game</option>
        <option value="book">Book</option>
        <option value="tv-show">TV Show</option>
        <option value="movie">Movie</option>
      </select>
    </div>

    <div class="form-group form-checkbox">
      <label>
        <input
          type="checkbox"
          [(ngModel)]="includeImage"
          name="includeImage"
        /> Include an image?
      </label>
    </div>

    <div *ngIf="includeImage" class="image-section">
      <button type="button" (click)="searchForImage()" class="search-image-btn">
        Search for Image on Wikipedia
      </button>

      <div *ngIf="!foundImageUrl" class="form-group">
        <label for="customImageUrl">
          We couldn't find an image on Wikipedia. Enter a custom image URL:
        </label>
        <input
          type="text"
          id="customImageUrl"
          name="customImageUrl"
          [(ngModel)]="item.imageUrl"
          class="form-input"
          placeholder="Enter image URL"
        />
      </div>
    </div>

    <div *ngIf="item.imageUrl != ''" class="image-preview">
      <p>Image Preview:</p>
      <img
        [src]="item.imageUrl"
        alt="Book Image Preview"
        class="preview-img"
      />
    </div>

    <div class="button-container">
      <button type="submit" [disabled]="!itemForm.form.valid" class="submit-btn">
        Submit
      </button>
      <button type="button" (click)="onCancel()" class="cancel-btn">
        Cancel
      </button>
    </div>
  </form>
</div>
